$default: #0a1018;
$added-color: #ea3b47;
$inv-color: #ea3b47;
$added-color-light: #43bccd;
$inv-color-light: #fafafa;
$white: #ffffff;

$black: #000;
$black80: #333;
$black50: #808080;
$black30: #b3b3b3;
$black10: #e6e6e6;
$black5: #f2f2f2;
