@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSansLight.eot');
  src: url('/assets/fonts/OpenSansLight.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/OpenSansLight.woff') format('woff'),
       url('/assets/fonts/OpenSansLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSansRegular.eot');
  src: url('/assets/fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/OpenSansRegular.woff') format('woff'),
       url('/assets/fonts/OpenSansRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSansBold.eot');
  src: url('/assets/fonts/OpenSansBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/OpenSansBold.woff') format('woff'),
       url('/assets/fonts/OpenSansBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSansSemibold.eot');
  src: url('/assets/fonts/OpenSansSemibold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/OpenSansSemibold.woff') format('woff'),
       url('/assets/fonts/OpenSansSemibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
