.form-group {
  margin-bottom: 12px;
  label {
    display: block;
  }
  input {
    display: block;
    width: 100%;
    padding: 7px 16px;
  }
  &__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
  }
}

.form-group--checkbox {
  label {
    display: block;
  }
  input {
    display: none;
  }
  &__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
  }
  &__checkmark {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 2px solid $inv-color;
  }
}

.star {
  color: $inv-color;
}

.form-errors {
  color: $inv-color;
}
